Django==1.4.2
Markdown==2.2.0
South==0.7.6
django-annoying==0.7.6
django-debug-toolbar==0.9.4
django-keyedcache==1.4-6
django-pony==1.0
django-registration==0.8
django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
docutils==0.9.1
ipython==0.13.1
pyreadline==2.0-dev1
pytz==2012f
virtualenv==1.8.2
