{% extends "layouts/base.html" %}
{% load i18n %}
{% load markup %}

{% block page_title %}
        Correggi il tuo commento | {{  block.super }}
{% endblock %}

{% block main %}
{% load comments %}
<div class="row-fluid">
	<div class="span10 offset1">
		<form class="form"  action="{% comment_form_target %}" method="post">
		<legend><h2>Correggi gli errori nel commento...</h2></legend>
		{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% for field in form %}
				{% if field.is_hidden %}
			      <div>{{ field }}</div>
			    {% else %}
				<div class="control-group {% if field.errors %} error{% endif %}" {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
					<label class="control-label" for="{{ field.name }}">{{ field.label_tag }}</label>
					<div class="controls">
					{{ field }}
					 {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
					</div>
				</div>
				{% endif %}
			{% endfor %}
			<button type="submit" name="post" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock main %}
