{% extends 'layouts/base.html' %}

{% block page_title %}{{ object.title }} | {{  block.super }}{% endblock %}

{% block main %}
<div class="row-fluid">
	<div class="span10 offset1">
		<h2>{{ object.title|title }}
			<small>{{ object.publish_at|date:"d F Y - G:i" }}</small>
		</h2>
		<div class="odd">
		{{object.body|linebreaks }}
		</div>
	<small>Pubblicato da {{ object.author.username }}</small>
	</div>
</div>
{% endblock main%}

{% block footer %}
<div class="offset1"><a href="{% url home %}">Indietro alla pagina principale</a></div>
{% endblock footer %}