{% extends 'layouts/base.html' %}
{% load comments %}
{% load markup %}

{% block page_title %}{{ object.title }} | {{  block.super }}{% endblock %}

{% block main %}
{% get_comment_count for object as comment_count %}

<div class="row-fluid">
	<div class="span10 offset1">
		<h2>{{ object.title|title }}
			<small>{{ object.publish_at|date:"d F Y - G:i" }}</small>
		</h2>
		{% if object.categories.all %}
			Categorie: 
			{% for category in object.categories.all %}
				{% if forloop.first %}
				<small><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></small>
				{% else %}
				<small> - <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></small>
				{% endif %}
			{% endfor %}
		{% endif %}
		<div class="odd">
		{{object.body|markdown:"safe" }}
		</div>
	<small>Pubblicato da {{ object.author.username }} - Commenti: {{ comment_count }}</small>
		{% if object.enable_comments %}
			{% get_comment_form for object as form %} 
			<form class="form"  action="{% comment_form_target %}" method="post">
				<legend>Inserisci un commento...</legend>
			{% csrf_token %}
				<input type="hidden" name="next" value="{{ form.target_object.get_absolute_url }}" />
				{% for field in form %}
					{% if field.is_hidden %}
				      <div>{{ field }}</div>
				    {% else %}
					<div class="control-group {% if field.errors %} error{% endif %}" {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
						<label class="control-label" for="{{ field.name }}">{{ field.label_tag }}</label>
						<div class="controls">
						{{ field }}
						 {% if field.errors %}<span class="help-inline">Please correct the error</span>{% endif %}
						</div>
					</div>
					{% endif %}
				{% endfor %}
				<button type="submit" name="post" class="btn">Submit</button>
			</form>
		{% endif %}
	{% get_comment_list for object as comment_list %}
	{% if comment_list %}
	<h3>Commenti pubblicati:</h3>
	    {% for comment in comment_list reversed %}
	    <div class="comment">
	        <p><a href="{{ comment.user_url }}">{{ comment.user_name }}</a> - {{ comment.submit_date }}</p>
	        {{ comment.comment|markdown:"safe" }}
	    </div>
	    {% endfor %}
	{% endif %}
	


	</div>
</div>
{% endblock main %}

{% block footer %}
<div class="offset1"><a href="{% url home %}">Indietro alla pagina principale</a></div>
{% endblock footer %}