{% extends 'layouts/base.html' %}

{% block page_title %}Posts | {{  block.super }}{% endblock %}

{% block main %}
	{% if object_list %}
		{% for post in object_list %}
		<div class="row-fluid">
			<div class="span10 offset1 {% cycle 'odd' 'even' as rowcolors %}">
				
					<h2>
						<a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
						<small>{{ post.publish_at|date }} - {{ post.author.username }}</small>
					</h2>
					{{ post.body|linebreaks|truncatewords:50 }}
				
			</div>
		</div>
		{% endfor %}
	{% else %}
	<div class="row-fluid">
		<div class="span10 offset1">
	Sorry, no posts yet...
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block footer %}	
	{% if is_paginated %}
	<div class="pagination centered">
		<ul>
		 	<li>
		 		{% if page_obj.has_previous %}
		 		<a href="?page={{ page_obj.previous_page_number }}">prec.</a>
		 		{% else %}
		 		<a class="muted">prec.</a>
		 		{% endif %}	
		 	</li>
		 	<li>
		 		<span class="page-current">Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}</span>
		 	</li>
	        <li>{% if page_obj.has_next %}
		 		<a href="?page={{ page_obj.next_page_number }}">succ.</a>
		 		{% else %}
		 		<a class="muted">succ.</a>
		 		{% endif %}
		 	</li>
		</ul>
	</div>
     {% endif %}
{% endblock %}