h1,h2,a {
	color:orange;
}


a:hover{
	text-decoration:none;
	color:#D18F26;
}

.centered{
	text-align:center;
}

div .odd, div .even{
	border-bottom:1px dashed black;
	padding:0px 5px;
}

div .odd{
	background-color:#E8E8E8;
}