h1,h2,a {
	color:orange;
}

h1 {
	padding:5px;
}

a:hover{
	text-decoration:none;
	color:#D18F26;
}

.centered{
	text-align:center;
}

.dashed{
	border-bottom:1px solid #EEE;
	margin-bottom:5px;
}

div .odd{
	padding-left:5px;
	background-color:#EEE;
}


div .even{
	padding-left:5px;
	margin:3px 0;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
}
