{% extends 'layouts/site_base.html' %}

{% load humanize %}
{% load taggit_extras %}

{% block page_title %}{{ object.name}} | {{  block.super }}{% endblock %}

{% block header %}<h1>{{ object.name }}</h1>{% endblock %}

{% block main %}
	{{ object.description|linebreaks }}
	<section><h2>Recent posts:</h2>
	{% if object.posts.get_visible %}
	<ul>
		{% for post in object.posts.get_visible %}
		<li> <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3></li>
		{{ post.publish_at|naturaltime }}
		{{ post.excerpt|linebreaks}}
		{% endfor %}
	</ul>
	{% else %}
	<p>Sorry, no posts yet.</p>
	{% endif %}
	</section>
	<div id='tags'{% get_tagcloud as tags %}
		<ul>
			{% for tag in tags %}
			<li><font size={{tag.weight|floatformat:0}}>{{tag}}</font></li>
			{% endfor %}
		<ul>
	</div>
	<a href="{% url home %}">Back to blog list</a>
{% endblock %}

{% block footer %}All contents &copy; 2012 {% block username %}{{ object.user.username }}{% endblock username %}{% endblock footer%}
